<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Twig Smoke Rendering - Journey of Fails | Tomas Votruba</title>
<meta charset="utf-8">
<meta name="robots" content="index, follow">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">

<meta name="twitter:card" content="summary"/>
<meta name="twitter:creator" content="@votrubaT"/>

    <meta property="og:title" content="Twig Smoke Rendering - Journey of Fails" />
    <meta property="og:url" content="https://tomasvotruba.com/blog/twig-smoke-rendering-journey-of-fails" />

            <meta property="og:image" content="https://tomasvotruba.com/assets/images/posts/2022/gandalf_beaten.jpg?cache=123" />
        <meta name="twitter:image" content="https://tomasvotruba.com/assets/images/posts/2022/gandalf_beaten.jpg?cache=123"/>
    
<link rel="alternate" type="application/rss+xml" title="Tomas Votruba Blog RSS" href="/rss.xml">


<link rel="stylesheet" rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&amp;display=swap" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" media="print" onload="this.media='all'">

<link href="/assets/css/style.css?270461502" rel="stylesheet" type="text/css" />

                <meta name="description" property="og:description" content="In previous post, we explored [the &quot;whys&quot; for Twig Smoke Rendering](/blog/twig-smoke-rendering-why-do-we-even-need-it).

Today we will set on the journey towards this tool and mainly. Get ready for failure, demotivation, and despair. As with every new invention, the fuel can make us faster or burn us to death.
" />
    </head>

    <body>
        <!-- post_id: 363 -->
        <div id="menu">
    <div class="container-fluid">
        <a href="/">Home</a>
        <span class="pl-2 pr-2">•</span>

        <a href="/blog">Blog</a>
        <span class="pl-2 pr-2">•</span>

        <a href="/book/the-power-of-automated-refactoring">Book</a>
        <span class="pl-2 pr-2">•</span>

        <a href="/trainings">Trainings</a>
        <span class="pl-2 pr-2">•</span>

        <a href="/contact">Contact</a>
        <span class="pl-2 pr-2">•</span>

        <a href="/about-me">About Me</a>
        <span class="pl-2 pr-2">•</span>

        <a href="https://twitter.com/votrubaT" target="blank">Twitter</a>
        <span class="pl-2 pr-2">•</span>

        <a href="/rss.xml" target="blank">RSS</a>
    </div>
</div>

        <div class="container-fluid post" id="content">
            <div class="text-center book-banner">
                <a href="https://leanpub.com/rector-the-power-of-automated-refactoring" target="blank" class="text-center">
                    <img src="/assets/images/banner-rector-book.png" class="mb-2 ml-auto mr-auto rounded " style="max-height: 5em" alt="">
                </a>
            </div>

            <h1>Twig Smoke Rendering - Journey&nbsp;of&nbsp;Fails</h1>

            <div class="pull-right">
                <a href="https://github.com/tomasvotruba/tomasvotruba.com/edit/main/packages/blog/data/2022/2022-06-20-twig-smoke-rendering-journey-of-fails.md">Found a typo? Edit me</a>
            </div>

            <time datetime="2022-06-Mon" class="text-muted">
                2022-06-20
            </time>

            
            
            <div class="card card-bigger mb-5">
                <div class="card-body pb-2">
                    <p>In previous post, we explored <a href="/blog/twig-smoke-rendering-why-do-we-even-need-it">the &quot;whys&quot; for Twig Smoke Rendering</a>.
<br><br>
Today we will set on the journey towards this tool and mainly. Get ready for failure, demotivation, and despair. As with every new invention, the fuel can make us faster or burn us to death.</p>
                </div>
            </div>

            <p>How did we define the goal of twig smoke rendering? We want to render any template and validate the code, and its context works. To start, let's look at this first simple <code>homepage.twig</code> template:</p>
<pre><code class="language-twig">{% include "snippet/menu.twig" %}

{% for item in items %}
    {{ item }}
{% endfor %}</code></pre>
<p><br></p>
<p>That's the goal. What is our starting point? The typical render we know is from a Symfony controller will process the template like this:</p>
<ul>
<li>include the <code>snippet/menu.twig</code> loaded in TWIG loaders</li>
<li>render it to HTML</li>
<li>iterates the <code>$items</code> array and renders each item to string</li>
</ul>
<h2 id="1-Naive-Render-First">1. Naive Render First</h2>
<p>This journey will be very long, so we have to save as much energy as possible. Before we use the brain for thinking, let's approach the code naively. Maybe <a href="https://fourweekmba.com/occams-razor/">the most straightforward solution will work</a> right from the start.</p>
<p><br></p>
<p>First, we prepare a minimal setup of the TWIG environment with a template loader:</p>
<pre><code class="language-php">use Twig\Environment;
use Twig\Loader\ArrayLoader;

// here we load the "homepage.twig" template and all the TWIG files in our project
$loader = new ArrayLoader(['homepage.twig']);

$twigEnvironment = new Environment($loader);
$twigEnvironment-&gt;render('homepage.twig');</code></pre>
<p>We run the code... any guess what happens?</p>
<p><br></p>
<h2 id="2-There-is-No-Variable">2. There is No Variable</h2>
<img src="/assets/images/posts/2022/there_is_no_spoon.jpg" class="img-thumbnail" style="max-width: 18em">
<p>First, we get an error on the non-existing <code>$items</code> variable 🚫</p>
<p><br></p>
<p>Did we forget to provide it? There is an easy fix for that. We see the template is foreaching an array of strings. Let's pass some made-up value as 2nd parameter:</p>
<pre><code class="language-php">$twigEnvironment-&gt;render('homepage.twig', [
    'items' =&gt; ['first', 'second'],
]);</code></pre>
<p>We re-run... and it works!</p>
<p><br></p>
<h2 id="Lure-of-Manual-Thinking">Lure of Manual Thinking</h2>
<p>We made a single little template to render correctly. At the same time, we also made a massive step back from any attempt to automate the process. We've just <strong>used our brain for static analysis</strong>:</p>
<ul>
<li>we looked into the code with our eyes,</li>
<li>we deduce from the <code>for</code> tag called on <code>$items</code> that the value is an <code>array</code></li>
<li>we deduced from writing the <code>item</code> to the output that it is an array of strings.</li>
</ul>
<p>It is correct, but how long will it take us for all 3214 variables in all our templates? 🚫</p>
<p><br></p>
<p>This solution is not generic, and without us, the CI would fail. The CI has to run without any intervention, <strong>the same way we raise an adult from our child</strong>. First, we can feed them manually, but in the long term, we should teach them how to use their hands, what food is, and how to get and eat it.</p>
<p><br></p>
<p>The <code>render()</code> has to <strong>run generically without variables</strong> . How? Thanks to <a href="https://twitter.com/alex_s_/status/1537030374651572225">Alexandr for the rescue</a>. Twig has an option to disable check for variable existence:</p>
<pre><code class="language-php">$twigEnvironment = new Twig\Environment($loader, [
    'strict_variables' =&gt; false
]);
$twigEnvironment-&gt;render('homepage.twig');</code></pre>
<p>Now we re-run the test... and <strong>it works</strong> precisely as we need to!</p>
<h2 id="">✅</h2>
<p><br></p>
<h2 id="3-Without-Variables-There-is-no-Type">3. Without Variables, There is no Type</h2>
<img src="/assets/images/posts/2022/there_is_no_spoon.jpg" class="img-thumbnail" style="max-width: 18em">
<p><br></p>
<p>The variables are missing, but we can still render the file. That's fantastic!</p>
<p>Well, until we use a filter or function:</p>
<pre><code class="language-twig">{{ login_name|length }}</code></pre>
<p>The <code>$login_name</code> is not there, but the filter/function still needs an argument 🚫.</p>
<p>Ironically, if we care about code quality and strict type declaration, it is even worse. Filter <strong>needs an argument of specific type</strong>. The filter expects a <code>string</code> argument but gets <code>null</code>—a fatal error 🚫</p>
<p><br></p>
<p>What can we do about it?</p>
<ul>
<li>Remove all filters and functions?</li>
<li>Use regex to strip them away from the template, then render it?</li>
</ul>
<p>That will turn into crazy regex depression, or we will remove too many templates from the analysis. Nothing will work.</p>
<p><br></p>
<p><strong>At this moment, I'm seriously doomed</strong>. This <em>great excellent idea</em> to make an automated command is falling apart. We still have to provide all the variables in the templates.</p>
<p><br></p>
<p>There is this moment in every journey towards automation that hasn't been done before. The moment you stop and think - &quot;Is this worth it? Is this even possible? Should I turn to manual work and accept the risk of a bug? Should I lick my wounds and give up?&quot;</p>
<img src="/assets/images/posts/2022/frodo_give_up.jpg" class="img-thumbnail" style="max-width: 30em">
<p><br></p>
<h3 id="Let-s-Take-a-Break-and-Think-Different">Let's Take a Break and Think Different</h3>
<p>Hm, what if we could emulate something like the <code>'strict_variables'</code> option, just on another level. No idea how to do that.</p>
<blockquote class="blockquote text-center">
    "A big win is a summary of many small improvements."
</blockquote>
<p>Let's list what we already know and work with:</p>
<ul>
<li>We accept the filter/function must exist, and that's ok.</li>
<li>We know it has to accept any number and types of arguments.</li>
<li>We know they're just simple callbacks:</li>
</ul>
<pre><code class="language-php">new TwigFunction('form_label', function ($value) {
    // ...
});</code></pre>
<p><br></p>
<h2 id="4-Faking-Tolerant-Functions-Filters">4. Faking Tolerant Functions/Filters</h2>
<p>Those callbacks are defined and tight to a filter/function name. If we know the filter name, we can override and make it <strong>tolerant to any input</strong>:</p>
<pre><code class="language-diff">-return new TwigFunction('form_label', function ($value) {
+return new TwigFunction('form_label', function () {
     // ...
 });</code></pre>
<p><br></p>
<p>Let's give it a try:</p>
<pre><code class="language-php">$environment-&gt;addFunction(new TwigFunction('form_label', function () {
    return '';
}));</code></pre>
<p><br></p>
<p>Hm, it has already defined the <code>form_label</code> function... and crashes 🚫</p>
<p><br></p>
<p>Twig has an immutable extension design. Once it loads functions/filters, we cannot override it. I&nbsp;love this design because we know the <code>join</code> function will be the same and never change. But <strong>how do we change an immutable object</strong>? 🚫</p>
<img src="/assets/images/posts/2022/frodo_and_troll.jpg" class="img-thumbnail" style="max-width: 30em">
<p><strong>More despair</strong> is coming... is this all waste of time? Should we give up?</p>
<p><br></p>
<h3 id="We-got-Beaten">We got Beaten...</h3>
<img src="/assets/images/posts/2022/gandalf_beaten.jpg" class="img-thumbnail">
<p>...but we're not dead.</p>
<p><br></p>
<p>Let's step back. What else can we do? The filter/function cannot be changed once loaded. Maybe we could fake custom twig extensions that would get loaded instead of the core ones?</p>
<p>But we would have to <strong>be responsible for manual work listing all the extensions</strong>, functions, and filters from the core - e.g., CoreExtension, FormExtension, etc. 🚫</p>
<p><br></p>
<p>There must be some better way.</p>
<p>The environment is locked and protected from change, but it must have been writable at the start. Otherwise, the TWIG would not have the core functions and filters. That means <strong>there must be some lock mechanism</strong>. Like entity manager from Doctrine has. If we can unlock entity manager, we can un this.... new plan is getting shape:</p>
<ul>
<li>we have to open the lock</li>
<li>detect core filter/function names</li>
<li>add them with tolerant closures</li>
<li>that's it!</li>
</ul>
<p><br></p>
<p>That's the basic plan. We tried to apply it in one project... and it worked! After 2 more days of struggle, we polished it to a working state. Now we can render a TWIG file with variables, functions, and filters, and it will pass!</p>
<h2 id="">✅</h2>
<p><br></p>
<h2 id="5-Check-for-Existing-Filters-and-Functions-out-of-the-Box">5. Check for Existing Filters and Functions out of the Box</h2>
<blockquote class="blockquote text-center">
    "When we find ourselves in times of troubles,
    <br>
    it is time to always look on the bright side of life."
</blockquote>
<p>This achievement moves us light years ahead. The rendering checks filters/functions by default. Variables don't have to exist, but filters are still run on them. That way, we will know 3 invalid states that can happen to filter/function:</p>
<ul>
<li>if <strong>template uses filter/function that does not exist</strong> we will know about it ✅</li>
<li>if the filter exists in PHP code, but <strong>extensions are not loaded for missing tag</strong>, we will know about it ✅</li>
<li>if the filter exists, the extension is loaded, but the <strong>array closure is missing</strong>, we will know about it ✅</li>
</ul>
<pre><code class="language-php">return [
    new TwigFunction('some_function', [$this, 'some_method']);
];

// ... no "some_method" found here</code></pre>
<h2 id="">✅</h2>
<p><br></p>
<p>We're getting close, but it still does not run in CI 🚫</p>
<p><br></p>
<p>Will we make it to the glory, or will we give up and walk in shame? Stay tuned for the next episode to find out.</p>
<p><br></p>
<p>Happy coding!</p>

            <br>


            <div class="card mt-5 border-warning">
                <div class="card-body text-center mt-2">
                    <p>
                        Have you find this post useful? <strong>Do you want more?</strong>
                    </p>
                    <p>
                        Follow me on <a href="https://twitter.com/votrubaT">Twitter</a>, <a href="/rss.xml">RSS</a> or support me on <a href="https://github.com/sponsors/TomasVotruba">GitHub Sponsors</a>.
                    </p>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body text-white bg-success text-center">
                                            <a href="/blog/twig-smoke-rendering-why-do-we-even-need-it" class="d-block">
                            <div>
                                Read next → <strong>Twig Smoke Rendering - Why do we Even Need it?</strong>
                            </div>
                        </a>
                                    </div>
            </div>

            <br>
            <br>

            <a name="comments"></a>
            <div id="disqus_thread"></div>

<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://itsworthsharing.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
        </div>

        <script id="dsq-count-scr" src="https://itsworthsharing.disqus.com/count.js" async defer></script>

        <link href="/assets/prism/prism.css" rel="stylesheet" type="text/css" />
        <script src="/assets/prism/prism.js"></script>

        <script>
    ga=function(){ ga.q.push(arguments) };
    ga.q=[];
    ga.l=+new Date;
    ga('create', 'UA-46082345-1', 'auto');
    ga('send','pageview');
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

        <script type="text/javascript">
            // @see https://stackoverflow.com/a/30776817/1348344
            var date = new Date();
            // display every 2nd hour, not to spam users
            if (date.getHours() % 2 === 1) {
                document.querySelector('.book-banner').style.display = 'visible';
            } else {
                document.querySelector('.book-banner').style.display = 'none';
            }
        </script>
    </body>
</html>
